// Place all the styles related to the api/FriendSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-search-component {
  background-color: #eee;
  min-height: calc(100vh - 66px);
}

.search-header {
  height: 102px;
  background-color: #104da1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-parameters span {
  color: #d6e1f9;
}

.search-parameters span button {
  display: inline;
  border-bottom: 1px dashed #d6e1f9;
}

.search-parameters span button:hover {
  border-bottom: 1px solid #d6e1f9;
}

.search-edit-box {
  position: absolute;
  z-index: 1;
  background-color: #ddd;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 20px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.update-search-number-input {
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #888;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 15px;
  width: 50px;
}

.update-search-number-input:disabled {
  background-color: #bbb;
}

.search-edit-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 2px;
}

.check-label:hover input ~ .search-checkmark {
  background-color: #bcd;
}

.check-label input:checked ~ .search-checkmark {
  background-color: #2196F3;
}

.search-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .search-checkmark:after {
  display: block;
}

.check-label .search-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-results {
  width: 900px;
  margin: 0 auto;
}

.search-errors {
  color: #f75;
  margin-bottom: 6px;
}

.search-results {
}

.search-result-item {
  background-color: #fff;
  display: inline-block;
  margin-bottom: 30px;
  border: 1px solid #aaa;
  border-radius: 40px;
  overflow: hidden;
  transition: 0.9s ease;
}

.search-result-item:hover {
  border: 1px solid #0c4;
  box-shadow: -2px 2px 5px 0px #0c4;
  transition: 0.3s ease;
}

.search-result-item:nth-of-type(3n+2) {
  margin: 0 20px;
  margin-bottom: 30px;
}

.search-result-image {
  width: 280px;
  height: 280px;
  margin-bottom: 15px;
}

.search-result-name-and-age {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-name-and-age p {
  font-size: 24px;
  margin: 0 10px;
  color: #999;
}

.search-result-name-and-age h3 {
  font-size: 24px;
}

.search-result-name-and-age h4 {
  font-size: 22px;
  color: #999;
}

.search-result-compatibility {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-compatibility h2 {
  font-size: 24px;
}

.search-result-compatibility h5 {
  font-size: 14px;
  color: #999;
}

.search-result-distance {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-distance p {
  font-size: 18px;
  color: #999;
}

.sort-select {
  cursor: pointer;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgb(169, 169, 169);
  -moz-appearance: none;
}

.sort-select-form {
  color: #999;
  text-align: right;
  margin: 25px 0;
}
