// Place all the styles related to the api/FriendSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-header {
  height: 102px;
  background-color: #104da1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-parameters span {
  color: #d6e1f9;
}

.search-parameters span button {
  display: inline;
  border-bottom: 1px dashed #d6e1f9;
}

.search-parameters span button:hover {
  border-bottom: 1px solid #d6e1f9;
}

.search-edit-box {
  position: absolute;
  z-index: 1;
  background-color: #ddd;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 20px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.update-search-number-input {
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #888;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 15px;
  width: 50px;
}

.update-search-number-input:disabled {
  background-color: #bbb;
}

.search-edit-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 2px;
}

.check-label:hover input ~ .search-checkmark {
  background-color: #bcd;
}

.check-label input:checked ~ .search-checkmark {
  background-color: #2196F3;
}

.search-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .search-checkmark:after {
  display: block;
}

.check-label .search-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-results {
  width: 900px;
  margin: 0 auto;
}

.search-errors {
  color: #f75;
  margin-bottom: 6px;
}
