// Place all the styles related to the api/Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages-index {
  min-height: calc(100vh - 66px);
  background-color: #ddd;
  padding-bottom: 1px;
}

.messages-header {
  background-color: #104da1;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.messages-header h1 {
  width: 800px;
  margin-bottom: 20px;
  font-size: 32px;
  color: #fff;
  font-weight: 100;
}

.conversation-item {
  min-height: 100px;
  background-color: #fff;
  width: 800px;
  margin: 10px auto;
  border-radius: 50px;
  display: flex;
  transition: 0.5s ease;
}

.conversation-item:hover {
  background-color: #dfe;
  cursor: pointer;
}

.conversation-item img {
  width: 92px;
  height: 92px;
  border: 4px solid #47d;
  border-radius: 50px;
}

.message-profile-link {
  position: relative;
  border-radius: 50px;
}

.message-profile-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  transform: translateX(-25px);
  opacity: 0;
  transition: 0.5s ease;
  background-color: #F3F315;
}

.message-profile-image-overlay:hover {
  opacity: 0.25;
}

.conversation-item p {
  width: 550px;
  color: #666;
}

.conversation-item div {
  margin-left: 25px;
}

.conversation-item h2 {
  margin: 8px 0;
  font-size: 18px;
}

.conversation-item h5 {
  margin-top: 15px;
  margin-left: auto;
  padding-right: 25px;
  color: #666;
}

.past-message-section {
  width: 725px;
  border: 1px solid #ccc;
  margin-left: 25px;
  padding: 25px;
  padding-right: 0;
  border-radius: 25px;
}

.messages-scroll-area {
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 25px;
}

.conversation-item-extended {
  min-height: 100px;
  background-color: #fff;
  width: 800px;
  margin: 10px auto;
  border-radius: 50px;
  padding: 25px 0;
  transition: 0.5s ease;
}

.message-timestamp {
  text-align: center;
  margin: 10px 0;
  color: #888;
}

.my-message, .their-message {
  display: flex;
  align-items: center;
}

.my-message {
  justify-content: flex-end;
  color: #fff;
}

.my-message h4, .their-message h4 {
  max-width: 550px;
  padding: 10px;
  border-radius: 7px;
}

.my-message h4 {
  background-color: #25a;
}

.their-message h4 {
  background-color: #ddd;
}

.my-message img, .their-message img {
  width: 34px;
  height: 34px;
  border-radius: 20px;
  border: 3px solid #47d;
}

.my-message img {
  margin-left: 20px;
}

.their-message img {
  margin-right: 20px;
}

.message-reply-form textarea {
  width: 730px;
  height: 80px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #999;
  margin: 20px 25px;
}

.message-form-buttons {
  display: flex;
  width: 752px;
  margin-left: 25px;
  justify-content: space-between;
}

.message-form-buttons button {
  width: 100px;
  box-shadow: 2px 2px 4px #000;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  margin: 0 50px;
}

.send-message-button {
  background-color: #36d;
  color: #fff;
}

.send-message-button:hover {
  background-color: #58f;
}

.cancel-message-button {
  background-color: #bbb;
  color: #444;
  border: 1px solid #999;
}

.cancel-message-button:hover {
  background-color: #ddd;
}

.message-errors {
  color: #f75;
  padding-top: 10px;
  margin-left: 50px;
}
