/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
h3, h4, h5 {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

 body {
  font-family: sans-serif;
 }

 html, body {
   height: 100%;
 }

 #root {
   height: 100%;
 }

.container {
  min-height: 100%;
  position: relative;
}

.page-main {
  padding-bottom: 60px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-footer a {
  color: #555;
  padding: 10px 20px
}

.page-footer a:first-of-type {
  padding-left: 50px;
}

.page-footer a:hover {
  color: #000;
}

.standard-header {
  justify-content: space-between;
  padding: 0 20px;
  display: flex;
  background-color: #104da1;
  border-bottom: 1px solid #a0b7f0;
  height: 64px;
  align-items: center;
}

.header-logo {
  display: inline;
}

.header-logo img {
  display: inline;
  height: 40px;
  width: 95px;
}

.left-header, .right-header {
  vertical-align: middle;
}

.left-header a img {
  transform: translateY(-2px);
}

.header-link {
  color: #d6e1f9;
  font-size: 18px;
  padding: 23px 20px;
  text-decoration: none;
  font-weight: 300;
}

.header-link:hover {
  color: #fff;
}

.mySlides img {
  width: 100%;
}

.slideshow-circle-buttons {
  text-align: center;
}

.slideshow-container * {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: 75px;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  background-color: rgba(0,0,0,0.6);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.show-image {
  display: block;
}
